<% include common/header %>
    <div class="container">
      <div class="row">
        <div class="col s3">
          <% include common/aside %>
        </div>

        <div class="col s9">
          <div class="collection z-depth-2">
          <% todoList.forEach(function (todo) { %>
            <div class="collection-item" data-id="<%= todo._id %>">
              <div class="row">
                <p class="left col s10">
                  <input type="checkbox" class="done" id="<%= todo._id %>" />
                  <label for="<%= todo._id %>" style="color:#333"><%= todo.content %></label>
                </p>
                <h6 class="left" style="margin-left:44px"><%= todo.deadline%></h6>
                  <a href="javascript:void(0);" class="right col s1 delete"><i class="material-icons">delete</i></a>
                  <a href="javascript:void(0);" class="right col s1 star"><i class="material-icons">
                <% if(todo.stared) {%>
                  star
                <%} else { %>
                  star_border
                <%}%></i></a>
              </div>
            </div>
          <% }) %>
          </div>
        </div>

      </div>
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/add">
          <i class="material-icons">add</i>
        </a>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script type="text/javascript">
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });

      $('.star').click(function (e) {
        var id = $(e.target).parents().parent('.collection-item').data('id');
        $.ajax({
          url: 'http://' + window.location.host + '/stared',
          method: 'post',
          data: {id: id},
          success: function (data) {
            console.log(data);
            if(data.success) {
              $(e.target).html()=="star" ? $(e.target).html('star_border'):$(e.target).html('star');
            }
          }
        });
      });

      $('.delete').click(function (e) {
        var id = $(e.target).parents().parent('.collection-item').data('id');
        $.ajax({
          url: 'http://' + window.location.host + '/delete',
          method: 'post',
          data: {id: id},
          success: function (data) {
            console.log(data);
            if(data.success) {
              $(e.target).parents().parent('.collection-item').fadeOut();
            }
          }
        });
      });

      $('.done').click(function(e) {
        var id = $(e.target).parents().parent('.collection-item').data('id');
        $.ajax({
          url: 'http://' + window.location.host + '/done',
          method: 'post',
          data: {id: id},
          success: function (data) {
            console.log(data);
            if(data.success) {
              $(e.target).parents().parent('.collection-item').fadeOut();
            }
          }
        });
      });
    </script>
  </body>
</html>
